schemas/MyIdTravelResAdapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Daniel Bub (Lufthansa Systems Business Solutions GmbH) -->
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by Daniel Bub (Lufthansa Industry Solutions AS GmbH) -->
<xs:schema targetNamespace="http://bos.service.resadapter.myidtravel.lhsystems.com" xmlns="http://bos.service.resadapter.myidtravel.lhsystems.com" xmlns:ns3="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:annotation>
		<xs:documentation xml:lang="en">myIdTravel Res Adapter Technical Specification Version 1.10 ; $Id$</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirAvailRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirAvailRS.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirBookRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirBookRS.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_CancelRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_CancelRS.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_ReadRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirDemandTicketRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirDemandTicketRS.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirPriceRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirPriceRS.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirBookModifyRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_AirDetailsRQ.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="MyId_Extension.xsd"/>
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:complexType name="MyIdTravelOriginDestinationOptionType">
		<xs:sequence>
			<xs:element name="FlightSegment" type="BookFlightSegmentType" maxOccurs="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			A container for necessary data to describe one or more legs of a single flight number.
			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlownSegment" type="BookFlightSegmentType" minOccurs="0" maxOccurs="8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAirItineraryType">
		<xs:sequence>
			<xs:element name="OriginDestinationOptions">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of  OriginDestinationOption</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OriginDestinationOption" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">A container for OriginDestinationOptionType.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="MyIdTravelOriginDestinationOptionType">
										<xs:attribute name="RefNumber" type="Numeric1to99" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When a PricedItinerary element contains multiple solutions and a single price, this attribute identifies the OriginDestinationPair from the request. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DirectionInd" type="AirTripType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> Identifies whether travel is: one way, return trip, circle trip, open jaw, other.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAirReservationType">
		<xs:sequence>
			<xs:element name="AirItinerary" type="MyIdTravelAirItineraryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of all flight segments requested for booking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceInfo" type="BookingPriceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pricing information for the air itinerary to be booked e.g. this data could come from the OTA_AirPriceRS data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedPriceInfo" type="BookingPriceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pricing information for the air itinerary to be booked e.g. this data could come from the OTA_AirPriceRS data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefundPriceInfo" type="BookingPriceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pricing information for the air itinerary to be booked e.g. this data could come from the OTA_AirPriceRS data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelerInfo" type="TravelerInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">All traveler information relevant to a booking request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fulfillment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">All payment information relevant to a booking request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentDetails" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Container for payment detail</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PaymentDetail" type="PaymentDetailType" maxOccurs="99">
										<xs:annotation>
											<xs:documentation xml:lang="en"> The form of payment that was specified in the booking request message.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DeliveryAddress" type="AddressType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en"> The postal address where the ticketing fulfillment (i.e., ticket, receipt) will be sent.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Ticketing" type="TicketingInfoType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information used to specify the ticketing arrangement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Queues" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A container for queue information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Queue" maxOccurs="10">
							<xs:annotation>
								<xs:documentation xml:lang="en">Specifies queue information for this booking.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="QueueGroup"/>
								<xs:attribute name="DateTime" type="DateOrDateTimeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Date/time when the time initiated queuing should take place.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Text" type="StringLength1to64" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Text describing why the queuing takes place.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="CarrierCode" type="StringLength1to8" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies airline/system on which the reservation is being queued.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingReferenceID" type="UniqueID_Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Optional field available for use by trading partners as determined by their needs.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="LastModified" type="DateOrDateTimeType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MyIdTravelEmployeeData">
		<xs:sequence>
			<xs:element name="employeeId" type="xs:string"/>
			<xs:element name="employingAirline" type="xs:string"/>
			<xs:element name="dateOfEmployment" type="xs:date"/>
			<xs:element name="passengerID" type="ns3:RPH_Type"/>
			<xs:element name="travellerId" type="xs:string"/>
			<xs:element name="bookingMode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelBookingContactDetails">
		<xs:sequence>
			<xs:element name="emailAddress" type="xs:string"/>
			<xs:element name="officeNumber" type="xs:string"/>
			<xs:element name="privateNumber" type="xs:string"/>
			<xs:element name="leaveNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelZEDFareBase">
		<xs:attribute name="fareBaseCode" type="xs:string" use="required"/>
		<xs:attribute name="passengerID" type="ns3:RPH_Type" use="required"/>
		<xs:attribute name="segmentID" type="ns3:RPH_Type" use="required"/>
	</xs:complexType>
	<xs:complexType name="MyIdTravelTourCodeBox">
		<xs:attribute name="tourCode" type="xs:string" use="required"/>
		<xs:attribute name="passengerID" type="ns3:RPH_Type" use="required"/>
	</xs:complexType>
	<xs:element name="MyIdTravelInitRefundTicketRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns3:POS"/>
				<xs:element name="InitRefundTicketRQ" type="MyIdTravelRefundTicket_Type"/>
			</xs:sequence>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MyIdTravelInitRefundTicketRS">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="ns3:SuccessType"/>
					<xs:element name="Warnings" type="ns3:WarningsType" minOccurs="0"/>
					<xs:element name="InitRefundTicketRS" type="MyIdTravelRefundTicketAirReservation_Type"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ns3:ErrorsType"/>
					<xs:element name="InitRefundTicketErrRS" type="MyIdTravelRefundTicket_Type"/>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MyIdTravelUpdateRefundTicketRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns3:POS"/>
				<xs:element name="UpdateRefundTicketRQ" type="MyIdTravelRefundTicketPriceInfo_Type"/>
			</xs:sequence>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MyIdTravelUpdateRefundTicketRS">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="ns3:SuccessType"/>
					<xs:element name="Warnings" type="ns3:WarningsType" minOccurs="0"/>
					<xs:element name="UpdateRefundTicketRS" type="MyIdTravelRefundTicketPriceInfo_Type"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ns3:ErrorsType"/>
					<xs:element name="UpdateRefundTicketErrRS" type="MyIdTravelRefundTicket_Type"/>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MyIdTravelConfirmRefundTicketRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns3:POS"/>
				<xs:element name="ConfirmRefundTicketRQ" type="MyIdTravelRefundTicket_Type"/>
			</xs:sequence>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MyIdTravelConfirmRefundTicketRS">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="ns3:SuccessType"/>
					<xs:element name="Warnings" type="ns3:WarningsType" minOccurs="0"/>
					<xs:element name="ConfirmRefundTicketRS" type="MyIdTravelRefundTicket_Type"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ns3:ErrorsType"/>
					<xs:element name="ConfirmRefundTicketRS" type="MyIdTravelRefundTicket_Type"/>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="ns3:OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MyIdTravelRefundTicket_Type">
		<xs:sequence>
			<xs:element name="Airline" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Airline code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation xml:lang="en">Name of passenger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Surname" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EMail" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">EMail address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketNumber">
				<xs:complexType>
					<xs:attribute name="TicketType" type="xs:string" use="required"/>
					<xs:attribute name="eTicketNumber" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RefundProcessID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="MyIdTravelRefundTicketPriceInfo_Type">
		<xs:complexContent>
			<xs:extension base="MyIdTravelRefundTicket_Type">
				<xs:sequence>
					<xs:element name="PriceInfo" type="AirItineraryPricingInfoType"/>
					<xs:element name="UsedPriceInfo" type="AirItineraryPricingInfoType"/>
					<xs:element name="RefundPriceInfo" type="AirItineraryPricingInfoType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MyIdTravelRefundTicketAirReservation_Type">
		<xs:complexContent>
			<xs:extension base="MyIdTravelRefundTicket_Type">
				<xs:sequence>
					<xs:element name="AirReservation" type="MyIdTravelAirReservationType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Availability Details Types -->
	<xs:simpleType name="MyIDTravelAvailabilityDetailsOption">
		<xs:annotation>
			<xs:documentation xml:lang="en">The different request options for the availability details.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RQ_FOR_SPLIT_STOP_OVER">
				<xs:annotation>
					<xs:documentation xml:lang="en">Split flights into separate segments, that do include stop overs.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RQ_FOR_FLIGHT_LOAD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Add simple flight load information in the response.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RQ_FOR_EXTENDED_SEAT_AVAILABILITY">
				<xs:annotation>
					<xs:documentation xml:lang="en">Request the list of actual number of available seats and checked-in passengers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RQ_FOR_STANDBY_PASSENGERS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provide a list of passengers listed as standby for the selected flight.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RQ_FOR_CHECKIN_PASSENGERS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provide a list of standby passengers, that got a seat assigned.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsOptions">
		<xs:annotation>
			<xs:documentation xml:lang="en">The list of options to be used for this request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="availabilityDetailsOption" type="MyIDTravelAvailabilityDetailsOption" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MyIdTravelCabinType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A cabin is either First, Business, Premium Economy or Economy </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation xml:lang="en">First class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation xml:lang="en">Business class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation xml:lang="en">Premium Economy class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation xml:lang="en">Economy (or sometimes referred to as Coach) class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MyIdTravelCompartmentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A cabin is either First, Business, Premium Economy or Economy </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation xml:lang="en">First class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation xml:lang="en">Business class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation xml:lang="en">Premium Economy class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JF">
				<xs:annotation>
					<xs:documentation xml:lang="en">Jumpseat Flight Deck</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation xml:lang="en">Economy (or sometimes referred to as Coach) class compartment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Jumpseat Cabin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsFlightLoadEntry">
		<xs:annotation>
			<xs:documentation xml:lang="en">A element of this type contains flight load information for a specific compartment.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="compartment" type="MyIdTravelCabinType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of compartment, which is described.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="aircraftCapacity" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The physical seat capacity in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="authorizedSeats" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The seat capacity authorized to sell in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="seatsAvailable" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of seats available in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="seatsSold" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of seats sold in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="standbyPassengers" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of standby passengers booked in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nonRevenuePassengers" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of non-revenue passengers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="waitlistPassengers" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of passengers on the waitlist in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="forecast" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The forecasted number of sold seats in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsFlightLoad">
		<xs:annotation>
			<xs:documentation xml:lang="en">The list of flight load information per compartment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="compartmentLoad" type="MyIdTravelAvailabilityDetailsFlightLoadEntry" maxOccurs="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">An entry containing the flight load data for a specific compartment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsSeatAvailabilityEntry">
		<xs:annotation>
			<xs:documentation xml:lang="en">A element of this type contains flight load information for a specific compartment.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="compartment" type="MyIdTravelCabinType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of compartment, which is described.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="authorizedSeats" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of authorized seats in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="checkedInRevenue" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of checked-in revenue passengers in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clearedNonRevenue" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of checked-in non-revenue passengers in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="seatsRemaining" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of seats remaining in this compartment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsSeatAvailability">
		<xs:annotation>
			<xs:documentation xml:lang="en">The list of seats available per compartment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="compartmentSeatAvailability" type="MyIdTravelAvailabilityDetailsSeatAvailabilityEntry" maxOccurs="6">
				<xs:annotation>
					<xs:documentation xml:lang="en">An entry containing the seat availability data for a specific compartment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsStandByTraveler">
		<xs:annotation>
			<xs:documentation xml:lang="en">A standby traveler with information about his standby status.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AirTravelerType">
				<xs:sequence>
					<xs:element name="staffDetails">
						<xs:annotation>
							<xs:documentation xml:lang="en"/>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="staffID" type="StringLength0to64" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">An airline internal ID of the staff member.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dateOfJoining" type="xs:date" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The date the staff member joined the carrier.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="filekey" type="OTA_CodeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The filekey associated to the standby booking.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ticketNumber" type="StringLength0to64" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">The ticketnumber associated with this standby booking.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="priority" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The travelers priority regarding his waitlist position.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="compartment" type="MyIdTravelCabinType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The type of compartment the traveler is listed on.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="staffMember" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">True if the traveler is a staff member.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="hireDate" type="xs:date" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The hire date of the traveler if he is staff.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="position" type="xs:integer" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The travelers position on the waitlist.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsCheckedInStandByTraveler">
		<xs:annotation>
			<xs:documentation xml:lang="en">A checked-in standby traveler with information about his standby status.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MyIdTravelAvailabilityDetailsStandByTraveler">
				<xs:attribute name="seatAssigned" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicator whether the traveler got a seat assigned.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsStandByTravelerList">
		<xs:annotation>
			<xs:documentation xml:lang="en">The list of standby travelers on this flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="standbyTraveler" type="MyIdTravelAvailabilityDetailsStandByTraveler" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A specific standby traveler, including boarding priority and waitlist position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsCheckedInStandByTravelerList">
		<xs:annotation>
			<xs:documentation xml:lang="en">The list of checked-in standby travelers on this flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="checkedInTraveler" type="MyIdTravelAvailabilityDetailsCheckedInStandByTraveler" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A specific checked-in standby traveler, including boarding priority and waitlist position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIdTravelAvailabilityDetailsResponseType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="Success" type="SuccessType">
					<xs:annotation>
						<xs:documentation xml:lang="en"> Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Warnings" type="WarningsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FlightSegment" maxOccurs="8">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="FlightSegmentType">
								<xs:sequence>
									<xs:element name="TrafficRestrictionInfo" type="FreeTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Traffic restriction information for a specific flight.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Comment" type="FreeTextType" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:documentation xml:lang="en">Any special comments on the leg. eg. operated by  XX. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MarketingCabin" type="MarketingCabinType" minOccurs="0" maxOccurs="9">
										<xs:annotation>
											<xs:documentation xml:lang="en">The airline specific branding for cabins.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BookingClassAvail" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation xml:lang="en">Booking codes available to be sold for a particular flight segment.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attributeGroup ref="BookingClassAvailabilityGroup"/>
											<xs:attribute name="RPH" type="RPH_Type" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">RPH refers back to Marketing Cabin Type.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="StopLocation" minOccurs="0" maxOccurs="9">
										<xs:annotation>
											<xs:documentation xml:lang="en">A location where the flight is scheduled to stop en route to its destination for this flight segment.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attributeGroup ref="LocationGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">A location where the flight is scheduled to stop en route to its destination for this flight segment.</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
										</xs:complexType>
									</xs:element>
									<xs:element name="flightLoad" type="MyIdTravelAvailabilityDetailsFlightLoad" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The flight load information for this flight segment.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="seatAvailability" type="MyIdTravelAvailabilityDetailsSeatAvailability" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The seat availability information for this flight segment.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="standbyList" type="MyIdTravelAvailabilityDetailsStandByTravelerList" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The standby passenger list for this flight segment.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="checkedInList" type="MyIdTravelAvailabilityDetailsCheckedInStandByTravelerList" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The checked-in standby passenger list for this flight segment.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="JourneyDuration" type="xs:duration" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The duration of the flight from departure location to destination location.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="SmokingIndicatorGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">Specifies if the flight is smoking or not.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="OnTimeRate" type="Percentage" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Specifies the Dept. of Transport on time rate of the  flight.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Ticket" type="TicketType" default="Paper">
									<xs:annotation>
										<xs:documentation xml:lang="en">Specifies if the flight is e-ticketable or not.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ParticipationLevelCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">To specify the level of participation by a vendor in another system. Refer to OTA Code List 'Participation Level Code' (PLC).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="GroundDuration" type="xs:duration" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The duration of a ground stop.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AccumulatedDuration" type="xs:duration" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The total duration time of the flight. This is the combination of both JourneyDuration and GroundDuration.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Distance" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Miles acquired per flight segment, usually used for earning of frequent flyer miles.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:element name="Errors" type="ErrorsType">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
	</xs:complexType>
	<!-- Request - Response types -->
	<xs:complexType name="MyIDTravelResAdapterAvailabilityRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirAvailRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterAvailabilityResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirAvailRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterSegmentSellRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterSegmentSellResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCancelSegmentSellRequest">
		<xs:sequence>
			<xs:element ref="ns3:OTA_CancelRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCancelSegmentSellResponse">
		<xs:sequence>
			<xs:element ref="ns3:OTA_CancelRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterBookingRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element name="bookingContactDetails" type="MyIdTravelBookingContactDetails"/>
			<xs:element name="ZEDFareBase" type="MyIdTravelZEDFareBase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tourCodeBox" type="MyIdTravelTourCodeBox" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ns3:OTA_AirBookRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterBookingResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterBookingModifyRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookModifyRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterBookingModifyResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterRetrieveBookingRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_ReadRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterRetrieveBookingResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element name="bookingContactDetails" type="MyIdTravelBookingContactDetails"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCreateTicketRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirDemandTicketRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCreateTicketResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirDemandTicketRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterRetrieveTicketRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_ReadRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterRetrieveTicketResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element name="tourCodeBox" type="MyIdTravelTourCodeBox" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dateOfIssue" type="xs:date"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterInitRefundTicketRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelInitRefundTicketRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterInitRefundTicketResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelInitRefundTicketRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterUpdateRefundTicketRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelUpdateRefundTicketRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterUpdateRefundTicketResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelUpdateRefundTicketRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterConfirmRefundTicketRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelConfirmRefundTicketRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterConfirmRefundTicketResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="MyIdTravelConfirmRefundTicketRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterPricingRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element name="ZEDFareBase" type="MyIdTravelZEDFareBase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tourCodeBox" type="MyIdTravelTourCodeBox" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BookingReferenceID" type="ns3:UniqueID_Type" minOccurs="0"/>
			<xs:element ref="ns3:OTA_AirPriceRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterPricingResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirPriceRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCancelBookingRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_CancelRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterCancelBookingResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_CancelRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterPingRequest">
		<xs:sequence>
			<xs:element name="token" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterPingResponse">
		<xs:sequence>
			<xs:element name="token" type="xs:string"/>
			<xs:element name="time" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterSplitPnrRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookModifyRQ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterSplitPnrResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirBookRS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterAvailabilityDetailsRequest">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element ref="ns3:OTA_AirDetailsRQ"/>
			<xs:element name="availabilityDetailsOptions" type="MyIdTravelAvailabilityDetailsOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyIDTravelResAdapterAvailabilityDetailsResponse">
		<xs:sequence>
			<xs:element name="employeeData" type="MyIdTravelEmployeeData"/>
			<xs:element name="MyID_AirAvailDetailRS" type="MyIdTravelAvailabilityDetailsResponseType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
